.home-page {
  display: flex;
  height: calc(100vh - 50px);
  padding: 25px 50px 25px 50px;
}

.home-page__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
}
